<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>

    <head>
        <title>Rango_about</title>
	 <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <!-- JavaScript -->
        <script src="{% static "js/jquery.js" %}"></script>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
             This tutorial has been put together by Zhouyang Shen. <br /> 
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
		<img src="/media/images/rango_dynamic.jpg" alt="Picture of Rango" />
        </div>
    </body>